/**********************************************************
 *
 * css/grid.css
 * 
 * Custom css for site
 *
 * Buffalo Hird
 * Computer Science 164
 * Project0
 *
 *
 **********************************************************/

.ui-grid-a img {
    width  : 99%;
    height : auto;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}
